body {
  background: #beb8eb;
  color: #fff;
  font-family: "Noto Sans JP";
}

h1 {
  line-height: 10px;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: 900;
  font-size: 3em;
}

p {
  line-height: 10px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.logo {
  width: 500px;
  height: 550px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.form {
  background: #5e5c6c;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 550px;
  border-radius: 0 5px 5px 0;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 200px;
  margin: 50px;
}

.input {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin: 10px;
}

.label {
  text-align: left;
}

.button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: 500;
}

.button:hover {
  background: #fff;
  color: #5e5c6c;
  cursor: pointer;
}
